/* About Area CSS */
.about-area {
    background-color: #ddd;
    .about {
        @include max-xs {
            margin-bottom: 30px;
        }
        @include min-sm {
            margin-bottom: 30px;
        }
        @include min-md {
            margin-bottom: 30px;
        }
        img {
            width: 100%;
            border: 1px solid #fff;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
        }
        .about-content {
            text-align: center;
            h3 {
                font-family: 'Playfair Display', serif;
                font-weight: 400;
                margin-top: 15px;
            }
            p {
                color: #808080;
                margin: 15px 0;
            }
        }
    }
}