/* Section Title CSS */
.section-title {
    text-align: center;
    padding-bottom: 48px;
    margin-bottom: 16px;
    h4 {
       font-weight: 400;
       font-size: 54px;
       font-family: 'Playfair Display', serif;
    }
}